.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

code {
  color: red;
}

summary {
  font-weight: bold;
  font-size: 1.2rem;
  transition: 400ms all;
  margin-bottom: 1rem;
}

summary:hover {
  cursor: pointer;
  box-shadow: 2px 2px 2px 2px gray;
  opacity: 0.9;
}


/* Styles that will be applied for the components */
.inputComponent {
  border-radius: 5px;
  padding: 0.3rem 0;
  border: 1px solid #333;
  width: 350px;
}

.buttonVerify {
  background-color: #2915D6;
  border: none;
  border-radius: 5px;
  color: #fdfdfd;
  font-weight: bold;
  padding: 0.35rem 1.2rem;
  transition: 400ms all;
}

.buttonVerify:hover {
  cursor: pointer;
  box-shadow: 2px 2px 2px gray;
}

.result {
  color: rgb(5, 112, 5);
  font-weight: bold;
}